@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;");
:root {
    --lighting-color: #0089b7;
    --dark-color: #003d62;
    --darker-color: #003251;
    --secondary-color: #fff700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body, html {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
}
body {
    font-size: 1.4rem;
}

.container {
    max-width: 1300px; margin: 0 auto; 
}

header {
    background: var(--lighting-color);
}

a {
    text-decoration: none; color: white;
}

nav {
    display: flex; justify-content: space-between; align-items: center; padding: 1rem ;
}
nav ul {
    display: flex; gap: 1rem;
}
nav li {
    font-size: 1.8rem; border-bottom: 0.4rem transparent solid; transition: 0.3s ease-in-out;
}
nav li:hover {
    border-bottom: 0.4rem darkmagenta solid; transition: 0.3s ease-in-out;
}
ul {
    list-style: none;
}
.logo {
    font-size: 2rem; font-weight: 700; 
}
#hero {
    background: var(--dark-color); padding: 4rem; border-bottom: 4px var(--lighting-color) solid;
}
.hero-image img{
    width: 300px; border-radius: 80% 80%; height: 300px;
}

#hero .container {
    display: flex; justify-content: space-around; align-items: center;
}

.hero-content {
    display: grid; place-items: center;
}
#hero h1 {
    font-size: 3rem; font-weight: bold; 
}
.hi-text {
    font-size: 6rem; font-weight: bold; color: var(--secondary-color);
}
.name-text {
    font-size: 5rem; 
}
#hero h2 {
    font-size: 4rem; font-weight: bold; overflow: hidden; border-right: 0.4rem solid orange;
    white-space: nowrap; margin: 0 auto; animation: typing 4s steps(40, end), blink-caret 0.65s step-end infinite;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}

#work {
    color: #fff700;
}




/* Project Seciton */
#project {
    background: var(--darker-color);
}
#project h2 {
    font-size: 6rem; text-align: center; margin: 2rem 0;
}

.project-container {
    display: grid; grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); grid-gap: 2rem;
}
.img {
    width: 320px;  height: 320px;
}
.grid-item {
    display: grid; place-items: center;
}
.card {
    width: 320px; display: flex; flex-direction: column; border-radius: 0.5rem; overflow: hidden; transition: 0.2s ease-in-out;
}
.card:hover {
    transform: scale(1.05); transition: 0.2s ease-in-out;
}
.card:hover img {
    transform: scale(1.05); transition: 0.3s ease-in-out; opacity: 0.8;
}
.card:hover .card-content {
    background: white; color: var(--dark-color); transform: translateY(0px);
}
.card-content {
    padding: 2rem; position: relative; top: -6.5rem; margin-bottom: -6.5rem; transition: 0.5s ease-in-out; transform: translateY(100px);
}
.card-content h3 {
    text-align: center;
}

/* contact Section */
#contact {
    background: var(--dark-color); 
}
#contact h2 {
    font-size: 6rem; text-align: center; margin: 2rem 0;
}
#contact .container {
    height: 90vh; display: flex; flex-direction: column; gap: 4rem; justify-content: center;
}
.top-contact {
    display: grid; grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); margin: 0 auto; max-width: 800px; gap: 3rem;
}
.contact-way {
    display: flex; gap: 1rem; align-items: center;
}
.contact-way i {
    font-size: 3rem; 
}
.contact-way a {
    display: flex; align-items: center; gap: 1rem;
}
.contact-way h3 {
    font-size: 3rem; font-weight: bold;
}
.bottom-contact {
    max-width: 400px; gap: 3rem; margin: 0 auto;
    display: grid; grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));   
}


/* Footer */
footer {
    background: var(--darker-color); padding: 2rem; color: white; font-size: 1.6rem; text-align: center;
}

@media (max-width:786px) {
    html {
        font-size: 40%;
    }
    #hero .container {
        flex-direction: column;
    }
    .hero-image {
        display: grid; place-items: center;
    }
    #contact .container{
        height: 70vh;
    }
}

@media (max-width:500px) {
    html {
        font-size: 32%;
    }
    #hero .container {
        flex-direction: column;
    }
    .hero-image {
        display: grid; place-items: center;
    }
    .grid-item {
        padding: 2rem;
    }
    #contact .container{
        height: 50vh;
    }
}
